@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<div class="container">
    <form id="fromCreateUser" class="form-control" action="~/Manage/User/DoCreate">
        <span>注册名称：</span><input type="text" id="txtUserName" value="请输入您的名称" /><br />
        <span>显示名称：</span><input type="text" id="txtDisplayName" value="请输入您的名称" /><br />
        <span>登录密码：</span><input type="password" id="txtUserPwd" value="请输入您的名称" /><br />
        <span>确认密码：</span><input type="password" id="txtReUserPwd" value="请输入您的名称" /><br />
        <input type="submit" value="确认注册" />
    </form>
</div>
